{% extends "layout.html" %}

{% block body %}

<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark text-center">
    <div class="col-md-12 px-0">
        <h2>Bizi taniyin</h2>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente harum quaerat architecto repellendus. Illum
            veniam
            quos, ipsa quae qui deleniti quidem tempora debitis provident, ullam quo error suscipit voluptatibus
            similique?</p>
    </div>
</div>
{% endblock %}