<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
     <title>Document</title>
</head>
<body>
    <div style="margin-top: 6rem;" class="container">
        <h3>Todo List</h3>
        <hr>
        
        <form action="/add" method="post">
            <div class="form-group">
                <label for="formGroupExampleInput">Todo Baslik</label>
                <input type="text" class="form-control" name="title" id="formGroupExampleInput" placeholder="Todo Giriniz">
                <br>
                <button class="btn btn-danger" type="submit">Ekle</button>
            </div>
        </form>

        {% if todos == [] %}
        <div class="alert alert-warning" role="alert">
          Her hangi bir Todonuz bulunmuyor....
        </div>
        {% else %}
        <table class="table">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">Baslik</th>
              <th scope="col">Durum</th>
              <th scope="col">Durum guncelle</th>
              <th scope="col">Todo Sil</th>
            </tr>
          </thead>
          <tbody>
              {% for todo in todos %}
              <tr>
                  <th scope="row">{{todo.id}}</th>
                  <td>{{todo.title}}</td>

                  {% if todo.complete == False %}
                  <td>Tamamlanmadi</td>
                  {% else %}
                  <td>Tamamlandi</td>
                  {% endif %}

                  <td><a href="/complete/{{todo.id}}" class="btn btn-danger"> Tamamla</a></>
                  <td><a href="/delete/{{todo.id}}" class="btn btn-danger"> Sil</a></td>
                </tr>
              {% endfor %}
           
          </tbody>
        </table>
        {% endif %}

    </div>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>